<div
    class="modal fade"
    id="add-partner-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="add-partner-modal-label"
    >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="add-partner-modal-label">
                    Добавить партнёра
                </h4>
            </div>

            <div id="add-partner-form"></div>
        </div>
    </div>
</div>
