.plan-chooser
	display: flex
	flex-direction: row
	margin-bottom: 45px

	&__regular
		flex: 1

	&__vip
		width: 160px
		margin-left: 10px
		display: flex

		.vip-plan
			display: flex
			flex-direction: column

		.vip-plan__content
			flex: 1
