{% extends 'mailing/messages/base_mail.html' %}

{% block content %}
    <p>Вы успешно зарегистрировались для участия в Настоящей Чёрной Пятнице. Теперь вы зарегистрированы как рекламодатель на RealBlackFriday.ru.</p>
    <p>Что делать дальше: создайте магазин, загрузите рекламные материалы и отправьте их на модерацию.</p>
    <p>Мы принимаем материалы до 20.11.2016.</p>
    <p>Для управления аккаунтом зайдите в <a href="{{ SITE_URL }}{% url 'advertisers:merchant-list' %}">личный кабинет</a>.</p>
{% endblock %}
