{% extends 'mailing/messages/base_mail.html' %}

{% block content %}
    Вы успешно создали магазин{% if merchant.name %} {{ merchant.name }}{% endif %}. Осталось загрузить рекламные материалы и отправить магазин на модерацию.<br>
    Не откладывайте это дело на потом! Мы принимаем материалы до 20.11.2017. Проверка занимает 1-2 дня.<br>
    Для управления магазином зайдите в <a href="{{ ADMIN_SITE_URL }}{% url 'advertisers:merchant-list' %}" target="_blank">личный кабинет</a>.<br>
{% endblock %}
