{% extends 'mailing/messages/base_mail.html' %}

{% block content %}
    Ваш магазин{% if merchant.name %} {{ merchant.name }}{% endif %} не прошёл модерацию и не был опубликован на B-Friday.com.<br>
    {% if merchant.moderation_comment %}Причина: {{ merchant.moderation_comment }}<br>{% endif %}

    Чтобы участвовать в Настоящей черной пятнице, исправьте ошибку до 22 ноября 23:59 и снова отправьте магазин на модерацию.<br>
    Для управления магазином зайдите в <a href="{{ ADMIN_SITE_URL }}{% url 'advertisers:merchant-list' %}" target="_blank">личный кабинет</a>.
{% endblock %}
