{
  "extends": [
    "xo",
    "xo-react"
  ],
  "rules": {
    "handle-callback-err": "off",
    "complexity": "off",
    "react/forbid-component-props": "off",
    "react/require-optimization": "off",
    "react/no-unused-prop-types": "off"
  }
}
