psycopg2 ~= 2.6.0
pillow ~= 3.3.1

django ~= 1.10.0
django-compressor ~= 2.1.0

djangorestframework ~= 3.4.0
django-rest-swagger ~= 0.3.0
djangorestframework_camel_case ~= 0.2.0
django-filter ~= 0.14.0
