{% extends 'mailing/messages/base_mail.html' %}

{% block content %}
    Вы успешно зарегистрировались для участия в Настоящей Чёрной Пятнице. Теперь вы зарегистрированы как рекламодатель на RealBlackFriday.ru.<br>
    Что делать дальше: создайте магазин, загрузите рекламные материалы и отправьте их на модерацию.<br>
    Мы принимаем материалы до 20.11.2016.<br>
    Для управления аккаунтом зайдите в <a href="{{ SITE_URL }}{% url 'advertisers:merchant-list' %}" target="_blank">личный кабинет</a>.
{% endblock %}
