{% load render_bundle from webpack_loader %}
{% load static %}

<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% comment %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endcomment %}

    <title>Real Black Friday — контакты</title>
    <meta name="description" content="Адрес и телефоны для связи — Real Black Friday" />
    <meta name="keywords" content="" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ SITE_URL }}" />
    <meta property="og:title" content="Настоящая Черная Пятница 24 и 25 ноября 2016 - официальный сайт" />
    <meta property="og:description" content="Успейте получить скидку 90% от крупнейших интернет-магазинов раньше всех" />
    <meta property="og:image" content="{{ SITE_URL }}{% static 'images/landing/share-image.jpg' %}" />

    <meta name="yandex-verification" content="099e2d7cd5eb297c" />
    <meta name="google-site-verification" content="9Cn9QjQ2oLkwa1YkuO0_8B9EAuCXteDr8c7RkYszvlY" />
    <meta name="verify-admitad" content="954f2650b0" />

    <meta name="referrer" content="always" />

    <link rel="canonical" href="{{ SITE_URL }}">

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#000000">
    <meta name="theme-color" content="#000000">

    <link href="{% static 'css/landing/jquery.fancybox.css' %}" rel="stylesheet">
    <link href="{% static 'css/landing/jquery.countdown.css' %}" rel="stylesheet">
    <link href="{% static 'css/landing/jquery.bxslider.css' %}" rel="stylesheet">
    <link href="{% static 'css/landing/toastr.min.css' %}" rel="stylesheet">

    {# CSS #}
    {% render_bundle 'landing' 'css' %}
    {% block css %}{% endblock css %}

    <!-- Flocktory -->
    <script src="//api.flocktory.com/v2/loader.js?site_id=2114" async="async"></script>

    <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.min.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <script src="{% static 'js/es5-shim.min.js' %}"></script>
    <script src="{% static 'js/es5-sham.min.js' %}"></script>
    <script src="{% static 'js/ie8.js' %}"></script>
    <![endif]-->

    <script src="{% static 'js/landing/jquery.v1.11.0.js' %}"></script>
</head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WPFKGH"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WPFKGH');</script>
<!-- End Google Tag Manager -->

<a name="anchor-header"></a>

<div class="site-header-info">
    <div class="container">
        <div class="site-header-info__content">
            <div class="site-header-info__about">
                <span class="site-header-info__text">
                    "Настоящая Черная Пятница" 2016 в России - официальный сайт Real Black Friday
                </span>
            </div>

            <div class="site-header-info__rpt">
                <span class="rpt">
                    <img class="rpt__icon" src="{% static 'images/landing/site-header__rpt.png' %}" alt="">
                    <span class="rpt__text">
                        При поддержке
                        <strong><a href="http://minpromtorg.gov.ru/press-centre/news/#!vpervye_sostoitsya_masshtabnaya_onlaynrasprodazha_nastoyashhaya_chernaya_pyatnica" target="_blank">МИНПРОМТОРГА</a></strong>
                    </span>
                </span>
            </div>

            {% if SHOW_LOGIN_ON_LANDING %}
            <div class="site-header-info__auth">
                <div class="header-auth">
                    <a
                        class="header-auth__link"
                        href="#"
                        data-toggle="modal"
                        data-target="#auth-modal"
                        >
                        Вход для рекламодателей
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div><!-- site-header-info -->


<div class="simple-header-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="simple-header-section__logo">
                    <a href="/">
                        <img src="{% static 'images/landing/simple-header-section__logo.png' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div><!-- simple-header-section -->


<div class="contacts-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="contacts-section__title">
                    Контакты
                </h1>
            </div>

            <div class="col-xs-5">
                <div class="contacts-section__item">
                    <h2 class="contacts-section__subtitle">
                        Адрес организации:
                    </h2>

                    <div class="contacts-section__text">
                        АКИТ — Ассоциация компаний интернет-торговли:<br>
                        Россия, Москва, Новая площадь, 6А, ст. м. Лубянка
                    </div>
                </div>

                <div class="contacts-section__item">
                    <h2 class="contacts-section__subtitle">
                        Способы связи:
                    </h2>

                    <div class="contacts-section__text">
                        По вопросам деятельности АКИТ:<br>
                        +7 (985) 251-97-72
                    </div>
                </div>

                <div class="contacts-section__item">
                    <h2 class="contacts-section__subtitle">
                        По вопросам участия в акции:
                    </h2>

                    <div class="contacts-section__text">
                        Телефон горячей линии:<br>
                        8 (800) 505-37-04<br>
                        <span class="text-muted">звонок по России бесплатный</span>
                    </div>
                </div>

                <div class="contacts-section__item">
                    <div class="contacts-section__text">
                        Email:<br>
                        <a href="mailto:sales@cmonday.ru">sales@cmonday.ru</a>
                    </div>
                </div>

                <div class="contacts-section__item">
                    <div class="contacts-section__logo-list">
                        <img src="{% static 'images/landing/contacts-section__icon_akit.png' %}" alt="">
                        <img src="{% static 'images/landing/contacts-section__icon_rbf.png' %}" alt="">
                        <img src="{% static 'images/landing/contacts-section__icon_cymo.png' %}" alt="">
                    </div>
                </div>

            </div>

            <div class="col-xs-7">
                <div class="contacts-section__map">

                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=mkmxsCR2HyyUXIPLdszxwIo-WpsaKmje&amp;width=558&amp;height=484&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>

                </div>
            </div>
        </div>
    </div>
</div><!-- contacts-section -->


<div class="party-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="party-section__title">
                    Представителям интернет-магазинов<br>
                    и онлайн-сервисов
                </div>

                <p class="party-section__text">
                    Если вы хотите стать партнером акции и предложить свои скидки в<br>
                    «Настоящую Черную Пятницу», заполните заявку. Наши менеджеры<br>
                    свяжутся с вами в кратчайшее время.
                </p>
            </div>

            <div class="col-xs-6">
                <form
                    class="party-section__form js-form-ajax"
                    id="apply-form-1"
                    method="POST"
                    action="/api/applications/"
                    >
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="form-group">
                                <input
                                    class="form-control"
                                    placeholder="Ваше имя"
                                    name="name"
                                    type="text"
                                    maxlength="255"
                                    required
                                    >
                            </div>

                            <div class="form-group">
                                <input
                                    class="form-control"
                                    placeholder="Название организации"
                                    name="organizationName"
                                    type="text"
                                    maxlength="255"
                                    required
                                    >
                            </div>

                            <div class="form-group">
                                <input
                                    class="form-control"
                                    placeholder="Контактный телефон"
                                    name="phone"
                                    type="text"
                                    maxlength="255"
                                    required
                                    >
                            </div>

                            <div class="form-group">
                                <input
                                    class="form-control"
                                    placeholder="E-mail"
                                    name="email"
                                    type="email"
                                    maxlength="255"
                                    required
                                    >
                            </div>
                        </div>

                        <div class="col-xs-7">
                            <div class="form-group">
                                <textarea
                                    class="form-control"
                                    placeholder="Комментарий о сотрудничестве"
                                    name="comment"
                                    ></textarea>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-default btn-block" type="submit">
                                    Отправить
                                    <img
                                        src="{% static 'images/landing/submit-icon_light.png' %}"
                                        width="15"
                                        height="14"
                                        style="margin: 0 0 0 3px; vertical-align: text-top;"
                                        alt=""
                                        />
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- party-section -->


<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <ul class="simple-menu">
                    <li class="simple-menu__item">
                        <a class="simple-menu__link" href="/#anchor-about" data-offset="0">
                            О «Настоящей Черной Пятнице»
                        </a>
                    </li>
                    <li class="simple-menu__item">
                        <a class="simple-menu__link" href="/#anchor-buyer" data-offset="65">
                            Покупателям
                        </a>
                    </li>
                    <li class="simple-menu__item">
                        <a class="simple-menu__link" href="/sitemap.html" data-offset="0">
                            Карта сайта
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-xs-3">
                <ul class="simple-menu">
                    <li class="simple-menu__item">
                        <a class="simple-menu__link" href="/#anchor-shops" data-offset="30">
                            Участники
                        </a>
                    </li>

                    <li class="simple-menu__item">
                        <a class="simple-menu__link" href="/oferta" target="_blank" rel="nofollow">
                            Политика конфиденциальности
                        </a>
                    </li>

                    <li class="simple-menu__item">
                        <span class="simple-menu__link">
                            Контакты
                        </span>
                    </li>
                </ul>

                {% comment %}
                <a href="http://mnogo.ru/anketa.html?range=1134" target="_blank" style="display: inline-block; margin: 0 0 0 0;">
                    <img src="{% static 'images/landing/footer-mnogo-1.png' %}" alt="">
                </a>
                {% endcomment %}
            </div>

            <div class="col-xs-3">
                <div class="footer-social">
                    <span class="footer-social__title">
                        Мы в соц.сетях:
                    </span>
                    <ul class="footer-social__list">
                        <li class="footer-social__item">
                            <a class="footer-social__link" href="https://vk.com/realbf" target="_blank">
                                <img class="footer-social__icon" src="{% static 'images/landing/footer-social__icon_vk.png' %}" alt="vkontakte">
                            </a>
                        </li>
                        {% comment %}
                        <li class="footer-social__item">
                            <a class="footer-social__link" href="https://www.facebook.com/Real-Black-Friday-1598467580447815/" target="_blank">
                                <img class="footer-social__icon" src="{% static 'images/landing/footer-social__icon_fb.png' %}" alt="facebook">
                            </a>
                        </li>
                        {% endcomment %}
                    </ul>
                </div>
            </div>

            <div class="col-xs-3">
                <a class="akit-copy" href="http://www.akit.ru" target="_blank">
                    <img class="akit-copy__logo" src="{% static 'images/landing/akit-logo.png' %}" alt="retail hotline" title="" />2016 © Ассоциация компаний интернет-торговли
                </a>

                <a href="http://mnogo.ru/anketa.html?range=1134" target="_blank" style="display: inline-block; margin: 10px 0 0 12px;">
                    <img src="{% static 'images/landing/footer-mnogo-3.png' %}" alt="">
                </a>
            </div>

            <div class="col-xs-12">
                <div class="site-footer__b2b pull-right text-right">
                    <noindex>
                        <a href="http://b2b.realblackfriday.ru" target="_blank" rel="nofollow">Настоящая Черная Пятница для вашего бизнеса</a>
                    </noindex>
                </div>

                <div class="site-footer__project-by">
                    Проект АКИТ. Для рекламодателей: <a href="tel:+78005053704" title="Бесплатный номер">+7 (800) 505-37-04</a>
                </div>

                <div class="site-footer__offer-text">
                    <p>
                        Предоставляя свой email, вы подтверждаете свою дееспособность, согласие на обработку персональных данных и принимаете условия <a href="/oferta" target="_blank" rel="nofollow">договора-оферты</a>.
                    </p>

                    <p style="font-size: 12px;">
                        * Вступление в Клуб Много.ру подразумевает, что Вы согласны с правилами участия в Клубе и с фактом передачи указанных Вами имени и адреса электронной почты в Клуб Много.ру (www.mnogo.ru) для создания профиля в программе Много.ру
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer><!-- site-footer -->

<div class="mnogoru-gift" id="mnogoru-gift">
    <img src="{% static 'images/landing/mnogoru-gift-toggler.png' %}" alt="">
    <a href="http://mnogo.ru/anketa.html?range=1129" target="_blank" rel="noopener noreferrer"><img src="{% static 'images/landing/mnogoru-gift-bg.png' %}" alt=""></a>
</div>

{% if SHOW_LOGIN_ON_LANDING %}
{% include "landing/includes/auth-modal.html" %}
{% endif %}


<script src="{% static 'js/landing/bootstrap.min.js' %}"></script>
<script src="{% static 'js/landing/jquery.countdown.js' %}"></script>
<script src="{% static 'js/landing/jquery.bxslider.min.js' %}"></script>
<script src="{% static 'js/landing/jquery.form.min.js' %}"></script>
<script src="{% static 'js/landing/toastr.min.js' %}"></script>

{% block js %}
    {% render_bundle 'landing' 'js' %}
{% endblock js %}

</body>
</html>
