{% extends "layouts/app-page-layout.html" %}

{% block content %}

<div id="tabs" class="category-tabs"></div>

{% endblock content %}

{% block data %}
window.DATA.banners = {
    perPage: 8,
    isRandom: true,
    ajaxUrl: 'banners',
    data: {{ banners|safe|default:"[]" }}
};

window.DATA.products = {
    perPage: 20,
    isRandom: true,
    ajaxUrl: 'products',
    data: {{ products|safe|default:"[]" }}
};

window.DATA.teasers = {
    data: {{ teasers|safe|default:"[]" }}
};
{% endblock data %}
