.rpt
	clearfix()
	display: inline-block
	padding-right: 30px

	&__text
		display: inline-block
		text-align: right
		line-height: 1.2

	&__icon
		float: right
		margin-right: -30px
		margin-top: -4px
