.site-header-info
	background-color: #000
	font-size: 13px
	color: rgba(255, 255, 255, 0.3)
	padding: 10px 0

	&__content
		display: flex
		justify-content: space-between
		align-items: center

	&__text
		padding-top: 4px

	strong
		text-transform: uppercase
		font-weight: normal

	&__about
		{}

	&__rpt
		{}

	&__auth
		{}
