.card-product-list
	.product-list
		clearfix()
		margin: 0 -15px

		&__item
			float: left
			padding: 0 11px
			width: 100%

			+above(420px)
				width: 50%

			+above(608px)
				width: 33.33333333333333%

			+above(768px)
				width: 25%

			+above(992px)
				width: 25%

			+above(1200px)
				width: 20%
