.carousel
	&.is-paged
		.carousel__controls
			display: block

	&__content
		{}

	&__controls
		display: none

	&__prev
		cursor: pointer

	&__next
		cursor: pointer

	&__pager
		{}

	&__page
		cursor: pointer
