.header-nav
	padding: 5px 0
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPAgMAAABGuH3ZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAxQTFRF////////////////9aUOcwAAAAR0Uk5TAAIWGlHt/lkAAAAuSURBVAjXY3jCwCDBsJOBgYUhz4GBgUF6ApBgAwoyMAIFGYgQdGBg3MEAZOcAALTIC+yD04roAAAAAElFTkSuQmCC")
	background-position: 50% 0
	background-repeat: repeat
	background-color: #000
	position: fixed
	top: 0
	left: 0
	width: 100%
	z-index: 1001

	a
		color: #fff

	&__placeholder
		height: 50px

		+above(768px)
			height: 73px

		+above(992px)
			height: 73px

		+above(1200px)
			height: 73px

	&.navbar
		border-radius: 0
		margin: 0
		border: none

	.navbar-toggle
		width: 100%
		float: none
		margin: 0
		padding: 9px 19px

		.icon-bar
			width: 20px
			height: 3px
			background-color: #fff

	.navbar-collapse
		border: none
		box-shadow: none

.header-menu
	text-align: center
	font-size: 12px

	.simple-menu
		{}

		&__item:first-child
			background-position: 50% 50%
			background-repeat: no-repeat
			background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIMAAAASCAYAAAB4p22AAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXNJREFUeNrsmC9PxDAYxnsExxI8hvsMU4cCMzWDmRkCRy7BzF/CcQJ/hoScwgwzc+bUGfgCk+hh0Ij58ZS8wCCMLmmXtNv7JL90/bM07Z683dvR3lUloDE4AyHwQQ42IAVFuRA6SoglwbJUI5hBGuEGxH/0P4AZzFBozCHfPQQvZDqWpdqhiBA39MfUr6MlGYGjggNmCBVjQgNmGHdqBi9IQPFRsrTM4CvG+A6sI6GjqL9m8IIJuAdvVE66MEOuGJM7sFVDOIqm4BzsUzk1PcEuZQ1H/4zZWL9N5XYImcqpom4kMqSUNYiGbCLl09QKrRV1I5FBpn4z8Nx0z8DfwQrd1SLCulY3d89QVRVvM+srMrB0fvLn4gDFBYioKQOrciFe2QzDkzTCvFb/fL528Z6BpaeoZRubgdU3M3hBBB6JiLfth7KWbb35Z7gEx64vtiOtfh0NWa3NKbVLLWVE+DbDkyi3J+yB4aaWtw3PrB7pXYABAHFNT9qCBwxUAAAAAElFTkSuQmCC")

		&__link
			text-transform: uppercase
			font-weight: bold
			display: inline-block
			padding: 2px 0

.header-cats
	padding-top: 5px
	font-size: 13px

	.simple-menu
		ml = 9px
		margin-left: -(ml)

		&__item
			display: inline-block

		&__link
			display: inline-block
			padding: 4px ml
