.load-more-btn
	display: inline-block
	border: none
	padding: 15px 35px
	color: $link-color
	text-transform: uppercase
	font-weight: bold
	text-decoration: none
	text-align: center
	background-color: #f7f7f9
	font-size: 18px

	&:hover
		color: $link-hover-color

	&:focus
	&:hover
		text-decoration: none

	&_disabled
	&[disabled]
		opacity: 0.5

		&::after
			content: ''
			display: inline-block
			background-image: url("data:image/gif;base64,R0lGODlhEAALAPQAAP////bj/vPb/vnv/sdG/sZC/tBk/uKi/tuJ/u/L/s1b/tZ4/uSo/tyM/u/O/s5e/sZE/td7/vjs/vXh/vv2/tJr/vbk/vv1/u7I/um4/vLX/vry/gAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCwAAACwAAAAAEAALAAACJYSPqYvhYR4EMowhjLgZbPx1ocaNHkeC6ImlggmXbydFD4PnSQEAIfkECQsAAAAsAAAAABAACwAAAx5IVQT+0BVjSrxgVhy15Y8HhtQ3imNWpuqWoqPCsAkAIfkECQsAAAAsAAAAABAACwAABDIQyKlKUXMehI4sy1JkEpIkyBeOpImqIgm4KQDG7VnfbEbDvcnPtpINebJNByiTVS6yCAAh+QQJCwAAACwAAAAAEAALAAAFNSAgjqT4QNBTAkzTMCIURdDaOE4Tz3V55zuaDacDyIQ+YrBH+hWPzJFzOQQaeavWi7oqnVIhACH5BAkLAAAALAAAAAAQAAsAAAUyICCOZGmelaJUpjRNkqhEkWJOFDXJtF3iOl7tltsBZsNfUegjAY3I5sgFY55KqdX1GgIAIfkECQsAAAAsAAAAABAACwAABTcgII5kaZ7kYFmDqLIilmWYdV2WaONipmmZXQ4g7P2Ct2ER4AMul00kj5g0Al8tADY2w6C+4FIIACH5BAkLAAAALAAAAAAQAAsAAAUvICCOZGmepDRNkqiy7qpu2yROtA3gNa/7txxwlwv2isSacYUc+l4tADQGQ1mvpBAAIfkECQsAAAAsAAAAABAACwAABS8gII5kaZ6kNE2SqLLuqm7bJE60DeA1r/u3HHCXC/aKxJpxhRz6Xi0ANAZDWa+kEAA7")
			width: 16px
			height: 11px
			margin-left: 1em

	span
		border-bottom: 1px dotted

	&-placeholder
		text-align: center
