.partners-list
	&__item
		margin-bottom: 45px
		display: inline-block
		vertical-align: middle
		float: none

		+above(480px)
			width: 33.3333%

		+above(768px)
			width: 25%

		+above(992px)
			width: 25%

		+above(1200px)
			width: 20%

		img
			{}
