.share
	.ya-share2
		&__badge
			background-color: transparent !important
			border-radius: 50%

		&__item
			&_service_facebook
				.ya-share2__badge
					box-shadow: 0 0 0 1px #3b5998

			&_service_twitter
				.ya-share2__badge
					box-shadow: 0 0 0 1px #00aced

			&_service_vkontakte
				.ya-share2__badge
					box-shadow: 0 0 0 1px #48729e

			&_service_odnoklassniki
				.ya-share2__badge
					box-shadow: 0 0 0 1px #eb722e

			&_service_gplus
				.ya-share2__badge
					box-shadow: 0 0 0 1px #dc4e41

		&__container
			&_size_s
				.ya-share2__icon
					width: 20px
					height: 20px
					background-size: 18px 18px

				.ya-share2__item
					margin-right: 7px
