.super-banner-carousel
	margin-bottom: 0
	position: relative

	.carousel__content
		{}

	&:hover
		.carousel__prev
		.carousel__next
			opacity: 0.25

	.carousel__pager
		position: absolute
		top: 6px
		right: 6px

	.carousel__page
		display: inline-block
		text-align: center
		width: 16px

		&::after
			content: ''
			display: inline-block
			width: 8px
			height: 8px
			border-radius: 50%
			background-color: #e4e5e6
			transition: background-color 0.15s ease

		&.is-active
			&::after
				background-color: $link-color

		&:hover
			&::after
				background-color: $link-hover-color

	.carousel__prev
	.carousel__next
		position: absolute
		top: 50%
		transform: translate(0, -50%)
		width: 30px
		height: 50px
		line-height: 46px
		text-align: center
		background-color: rgba(0, 0, 0, 0.4)
		transition: opacity ease 0.15s
		opacity: 0.1

		&:hover
			opacity: 1

		&:after
			content: ''
			display: inline-block
			vertical-align: middle
			width: 12px
			height: 20px

	.carousel__prev
		left: 0

		&:after
			background-position: 50% 50%
			background-repeat: no-repeat
			background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAUCAQAAAAT+RSaAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfgARgMKilWnkrCAAAAvUlEQVQY022RoQ7CMBRF78Y8bhKLHgkSAW6QgAQBmoQETxD8AIIPQCD5BeAj8FjkEgQhgSVbOAgytrW0ouk97WvvfULWrHKi58kcvg4KFJmna1yALZWyXOcKrHFQUW4QAUscVAQt7sAs22dylxcp4/z+dxmRENMvvifElDcP2uX/iQVwo2nadIUkybGM/kp1zFJCDEmIGdhAhDxJmdggMzi3gQiIgJUZSR7iBtcEWew7PLt/Pmdgr7+tPRJ+AAKvBb9wHlucAAAAAElFTkSuQmCC")

	.carousel__next
		right: 0

		&:after
			background-position: 50% 50%
			background-repeat: no-repeat
			background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAUCAQAAAAT+RSaAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfgARgMKhlwR3puAAAAqklEQVQY03XRIW6CQRAG0Pmhvg6JRbcJsgIckIAsotUkTfBNBRdAcABETZOeoRwCj0WSIJomlATSV83usiPfZmfnmzCwcivSCh9Ya+RQt8RGM4VQmWOrlUKovGHnPoUQXvDtIYfw5OxXP4cwdHQyziF0/PgzySG07fFai/RUEVG43y0/NXJ08pg2f3Z20Eu/Oy0NWJlh5+4ykppFKcQb7+XYP68tquertNp/A5ASTS9RfdAAAAAASUVORK5CYII=")

.super-banner-carousel-content
	&__item
		padding-bottom: 30.55%

		a
			display: block

		img
			display: block

.super-banner-carousel
	.sticker-supernova
		position: absolute
		top: 0
		left: 0
