.super-header
	padding-top: 15px
	padding-bottom: 15px
	background-color: #000
	background-repeat: no-repeat, repeat-x
	background-position: 50% 0, 50% 100%
	background-image:
		url("/static/images/super-header-bg.png"),
		url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAC3CAYAAADThjThAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHxJREFUeNqUkkEKwDAIBHV9RU+F/v+DPVlsCcWgxlzETXbNCMF5XAwiUitvR0H3S8oslCUiqWvfdLb/BoOtaMHcmjIkSjTeQxsF6305LGy3mt32VkWTFJ5UvE/8KASxWqIclUrxkBJ0jSw69N9HYotpSJ9mae2bVrgfAQYA0UwJg7Hj0D4AAAAASUVORK5CYII=")

	.logo
		margin-bottom: 20px

	&__share
		text-align: center
		margin-bottom: 20px

		.share__content
			height: 22px

	&__sidebar-cats
		margin-bottom: 15px

	+above(992px)
		.logo
			height: 126px
			padding-top: 38px

		&__sidebar-cats
			margin-bottom: 0

	+above(1200px)
		.logo
			height: 169px
			padding-top: 52px
