.wrotator
	position: fixed
	top: 0
	left: 0
	z-index: 1010
	width: 100%

	&__i
		margin: 0 auto
		position: relative

	&__left
		position: absolute
		top: 0
		right: 100%
		width: 10000px
		height: 10000px
		background-position: 100% 0
		background-repeat: no-repeat

	&__right
		position: absolute
		top: 0
		left: 100%
		width: 10000px
		height: 10000px
		background-position: 0 0
		background-repeat: no-repeat

.super-header
	position: relative
	z-index: 3

.content-container
	position: relative
	z-index: 2

.footer .container
	position: relative
	z-index: 2

body
	position: relative
