.add-shop-footer
	display: flex
	width: 83%

	&__help
		flex: 1
		color: #3a3a3a
		font-size: 14px
		padding-right: 140px
		padding-left: 20px

		strong
			font-size: 15px

	&__calc
		margin-left: 10px

	&__label
		font-size: 17px
		line-height: 1
		color: #434343

	&__price
		font-size: 25px
		font-weight: bold
		color: #434343
		margin-bottom: 10px

	.btn
		font-weight: bold
