.editable-cell
	position: relative
	padding: 8px
	margin: -8px

	&:hover
		outline: 1px dotted $link-color

		& ^[0]__btn
			opacity: 1

	&__btn
		opacity: 0
		padding: 5px
		transition: opacity ease 0.15s
		cursor: pointer
		color: $link-color

	.popover
		display: block
		top: auto
		left: 50%
		transform: translate(-50%, 0)
		bottom: 100%
		margin: 0 0 10px
		width: 260px

	textarea
		resize: none
