.icon
	display: inline-block
	vertical-align: middle

	&_name_shop-edit
		icon('shop-edit', 16px)

	&_name_shop-preview
		icon('shop-preview', 16px)

	&_name_merchant-add-shop
		icon('merchant-add-shop', 60px)

	&_name_menu-add
		icon('menu-add', 14px)

	&_name_file-pdf
		icon('file-pdf', 12px, 16px)

	&_name_promo-true
		icon('promo-true', 14px, 12px)

	&_name_promo-help
		icon('promo-help', 19px, 18px)

	&_name_vip-promo-content
		icon('vip-promo-content', 88px, 100px)
