.merchant-add-shop
	pad = 12px
	padding: 50px pad pad
	border: 1px solid #eaecee
	text-align: center
	cursor: pointer
	user-select: none
	display: block

	&
	&:hover
	&:focus
		color: #d6d8da
		text-decoration: none

	&__text
		display: block
		margin-top: 9px
		font-size: 17px
