.merchant-props
	font-size: 14px

	.props__item
		text-overflow: ellipsis
		white-space: nowrap
		overflow: hidden
		width: 100%

		+ .props__item
			margin-top: 3px

	.props__label
		color: #949494
		margin-right: 5px

	.props__value
		color: #545454
		font-weight: bold

		.text-danger
			margin-right: 3px

	a.props__value
		color: #0089ff
