.merchant-list
	&__table
		width: 100%

	&__table-th
		&_name_id
			width: 1%

		&_name_email
			{}

		&_name_name
			{}

		&_name_status
			width: 1%

		&_name_edit
			width: 1%

	&__table-td
		vertical-align: middle !important

		&_name_id
			color: $gray-light

		&_name_email
			word-break: break-word

		&_name_name
			word-break: break-word

		&_name_status
			text-align: center

		&_name_edit
			{}
