.merchant-list
	&__table
		width: 100%

	&__table-th
		&_name_logo
			width: 1%

		&_name_name
			{}

		&_name_advertiser
			{}

		&_name_data
			{}

		&_name_action
			width: 1%

	&__table-td
		vertical-align: middle !important

		&_name_logo
			.merchant-list__logo-placeholder
				display: inline-block
				width: 100px
				min-height: 60px
				background-color: #eaecee

			img
				width: 100%
				height: auto

		&_name_name
			word-break: break-word

		&_name_advertiser
			word-break: break-word

		&_name_data
			{}

		&_name_action
			white-space: nowrap
