.merchant-add-shop
	pad = 12px
	padding: pad
	border: 1px solid #eaecee
	background-color: #fff
	text-align: center
	cursor: pointer
	user-select: none
	display: block
	width: 100%

	&
	&:hover
	&:focus
		color: #d6d8da
		text-decoration: none

	&__text
		display: block
		margin-top: 9px
		font-size: 17px
