.plan-table
	width: 100%
	max-width: 100%

	thead
		td
			font-weight: normal
			font-size: 18px
			color: #505050
			padding: 5px 0 15px 20px

		th
			font-weight: bold
			font-size: 18px
			color: #3a3a3a
			text-align: left
			padding: 5px 0 15px 8px

	tfoot
		color: #505050
		border: 1px solid #e4eff7
		border-width: 0 1px 1px

		td
			font-weight: bold
			font-size: 16px
			padding: 5px 0

			&:first-child
				font-size: 18px
				padding-left: 20px

		.radio
			font-size: 13px
			color: #666
			margin: 0 0 14px

			input
				margin-top: 1px

	tbody
		td
			background-color: #f8fcff
			font-size: 13px
			text-align: left
			padding: 14px 34px 14px 0

			&:first-child
				padding-left: 20px

		tr:nth-child(even)
			td
				background-color: #edf7fe

	&__prop-label
		display: block
		padding-left: 25px
		position: relative
		color: #666

		.help-preview
			position: absolute
			top: 0
			left: 0

	&__prop-value
		display: block
		width: 65px
		text-align: center
