.site-footer
	color: #6d6e73
	font-size: 12px
	line-height: 1.2
	padding: 10px 10px 35px 30px

	a
		color: #c642fe

	.akit-copy
		pt = 4px
		pl = 38px
		font-size: 11px
		text-align: left
		width: 160px
		padding-top: pt
		padding-left: pl
		overflow: hidden
		display: block

		&
		&:hover
			color: #6d6e73
			text-decoration: none

		&__logo
			float: left
			margin-top: -(pt)
			margin-left: -(pl)

	.copyrights
		margin-top: 15px

	.simple-menu
		margin-bottom: 10px
		font-size: 18px

		&__item
			display: block

		&__link
			display: inline-block
			padding: 3px 0
