.user-list
	&__table
		width: 100%

	&__table-th
		&_name_id
			width: 1%

		&_name_email
			{}

		&_name_name
			{}

		&_name_role
			width: 1%

		&_name_status
			width: 1%

		&_name_change-password
			width: 1%

		&_name_verification
			width: 1%

	&__table-td
		vertical-align: middle !important

		&_name_id
			{}

		&_name_email
			{}

		&_name_name
			{}

		&_name_role
			{}

		&_name_status
			text-align: center

		&_name_change-password
			{}

		&_name_verification
			{}
