{% extends "layouts/admin-base-layout.html" %}

{% load render_bundle from webpack_loader %}

{% block content %}
<div class="page-header">
    <h1>
        Магазины
    </h1>
</div>

{% if user.role == 'advertiser' and not user.is_valid_advertiser %}
    <p>
        Чтобы добавить магазины, необходимо <a href="{% url 'advertisers:profile' %}">заполнить реквизиты</a>.
    </p>
{% else %}
    <div id="admin-merchants"></div>
{% endif %}

{% include "advertisers/includes/add-merchant-modal.html" %}
{% endblock content %}

{% block js %}
    <script>
    window.ENV.urls = {
        invoices: '{% url "orders:invoice-list" %}',
        merchants: '{% url "advertisers:merchant-list" %}'
    };
    </script>

    {% render_bundle 'admin-merchants' 'js' %}
{% endblock js %}
