{% extends "layouts/app-main-layout.html" %}

{% load static %}
{% load render_bundle from webpack_loader %}

{% block superbanner %}
pages: 1,
isRandom: false,
isControlsShown: true,
isPagerShown: true,
data: [
    {id: 1, url: null, image: '{% static "images/superbanner_supernova.jpg" %}', isSupernova: false}
],
{% endblock superbanner %}

{% block data %}
window.DATA.backgrounds = {
    data: [{
        left: '{% static "images/custom-background_supernova-left.png" %}',
        right: '{% static "images/custom-background_supernova-right.png" %}'
    }]
};
{% endblock data %}

{% block js %}
    {% render_bundle 'app' 'js' %}
{% endblock js %}
