{% load render_bundle from webpack_loader %}
{% load static %}

<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Киберпонедельник 2016 в России, старт акции 30 мая 2016 года в 00:00 по Москве официальный сайт распродажи Cyber Monday 2016 - cmonday.ru</title>
    <meta name="description" content="Cmonday.ru - официальный сайт распродажи Киберпонедельник 2016 в России, магазины-участники акции, когда проводится, скидки до 90%, стать участником.">
    <meta name="keywords" content="Киберпонедльник, скидки, распродажа">

    <meta name="google-site-verification" content="QV_BZKG7i6aaFQ2FYdkjcawZ27WeQcqO-U8a2WUgZbE" />

    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.cmonday.ru/">
    <meta property="og:title" content="Киберпонедельник 2016">
    <meta property="og:description" content="Крупнейшая распродажа года!">
    <meta property="og:image" content="http://www.cmonday.ru/images/logo-share.png">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--Custom-Styles-->
    <link href="css/jquery.fancybox.css" rel="stylesheet">
    <link href="css/jquery.countdown.css" rel="stylesheet">
    <link href="css/jquery.bxslider.css" rel="stylesheet">

    {# CSS #}
    {% render_bundle 'landing' 'css' %}
    {% block css %}{% endblock css %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.v1.11.0.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.fancybox.js"></script>
    <script src="js/jquery.countdown.js"></script>
    <script src="js/jquery.bxslider.min.js"></script>
    <script src="js/scripts.js?v=rMMKb0vWEj"></script>

    <!-- Flocktory -->
    <script src="//api.flocktory.com/v2/loader.js?site_id=1966" async="async"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5SSVCH"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5SSVCH');</script>
<!-- End Google Tag Manager -->

<div class="header-auth__container">
    <div class="container">
        <div class="header-auth">
            <a class="header-auth__link" href="/admin/login"><strong>Войти</strong></a>
            <a class="header-auth__link" href="/admin/register">Зарегистрироваться</a>
        </div>
    </div>
</div>

<header id="header" class="mb-40px">
    <div class="container">
        <div class="vert"><img src="images/top-jpg.png" alt="" /></div>
        <div class="text-center" style="margin-bottom:10px;color:#777;">Официальный сайт распродажи Киберпонедельник 2016 в России - проект АКИТ<sup>*</sup></div>
        <div class="row mb-55px">
            <div class="col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-lg-2 col-sm-3 col-md-2">
                <a href="/" class="logo">
                    <img src="images/logo.png" alt="Распродажа Киберпонедельник 2016 в России - официальный сайт cmonday.ru" />
                </a><!--logo-->
            </div><!--col-md-2-->
            <div class="col-md-9 col-lg-9 col-sm-8">
                <div class="header-right">
                    <div class="header-title">
                        Участвуйте в акции и получайте<br/>
                        <div class="skidka">скидки до 90%</div>
                    </div>
                    <div class="big-markets">на лучшие товары крупнейших <a href="#anchor-party" data-offset="60" data-duration="500">магазинов</a></div>
                    <div class="event-countdown">
                        <div class="event-countdown__title">
                            Только 30 мая 2016 года
                        </div>
                        <p>До начала акции осталось:</p>
                        <div id="countdown"></div>
                        <div class="countdown-labels">
                            <span id="countdown-d">дней</span><span id="countdown-h">часов</span><span id="countdown-m">минут</span><span id="countdown-s">секунд</span>
                        </div>
                    </div>
                </div><!--header-right-->
            </div><!--col-md-9-->
        </div><!--row-->
        <div class="row">
            <div class="col-lg-offset-1 col-sm-offset-1 col-md-offset-1 col-md-10 col-lg-10 col-sm-10">
                <div class="top-form mb-20">
                    <div class="form-title">
                        Подпишитесь на скидки,
                    </div><!--form-title-->
                    <div class="form-subtitle mb-15px">
                        чтобы первым узнать о лучших предложениях!
                    </div><!--form-subtitle-->
                    <div class="form-block">
                        <form action="/subscribe" method="POST">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 col-sm-4">
                                    <input type="text" class="form-control" name="name" placeholder="Ваше имя">
                                </div><!--col-md-4-->
                                <div class="col-md-4 col-lg-4 col-sm-4">
                                    <input type="text" class="form-control" name="email" placeholder="Ваш email">
                                </div><!--col-md-4-->
                                <div class="col-md-4 col-lg-4 col-sm-4">
                                    <button class="btn-default btn" type="submit">подписаться</button>
                                </div><!--col-md-4-->
                            </div><!--row-->
                        </form>
                    </div><!--form-block-->
                </div><!--top-form-->
                <div class="new-59-1">
                    Всем подписавшимся подарок прямо сейчас!
                </div>
                <div class="top-share text-center">
                    <script type="text/javascript" src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
                    <script type="text/javascript" src="https://yastatic.net/share2/share.js" charset="utf-8"></script>
                    <div class="ya-share2" data-services="vkontakte,facebook,gplus,twitter" data-counter=""></div>
                </div>
            </div><!--col-md-10-->
        </div><!--row-->
    </div><!--container-->
</header><!--header-->

<section id="content">
    <div class="second-content-slider">
        <div class="bxslider-one">
            <div class="new-59-22">

                <div class="second-content">
                    <div class="container">
                        <div class="second-title"><h1>Специальный раздел</h1></div>
                        <div class="second-subtitle text-center">со скидками на товары российского производства</div>
                        <div class="row">
                            <div class="col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-md-10 col-lg-10 col-sm-10">
                                <img src="images/second-content-banner-0.png" class="img-responsive new-59-22__img" alt="" />
                                <div class="tv-text new-59-22__text">
                                    <a href="#popup" class="btn btn-default fancybox">Подписаться</a>
                                </div><!--tv-text-->
                            </div><!--col-md-8-->
                        </div><!--row-->
                    </div><!--container-->
                </div><!--second-content-->

            </div>
            <div>
                <div class="second-content" id="second">
                    <div class="container">
                        <div class="second-title"><h1>Киберпонедельник 2016</h1></div>
                        <div class="second-subtitle text-center"> 25 января 2016 г. с 00:00 до 23:59 </div>
                        <div class="second-subtitle text-center"> Крупнейшая распродажа года</div>
                        <div class="row">
                            <div class="col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-md-10 col-lg-10 col-sm-10">
                                <div class="tv">
                                    <div class="lenta"><img src="images/lenta.png" alt="" /></div>
                                    <div class="headphones"><img src="images/headphones.png" alt="" /></div>
                                    <div class="mixer"><img src="images/mixer.png" alt="" /></div>
                                    <div class="mobile"><img src="images/mobile.png" alt="" /></div>
                                    <div class="gopro"><img src="images/go-pro.png" alt="" /></div>
                                    <div class="vent"><img src="images/vent.png" alt="" /></div>
                                    <div class="fen"><img src="images/fen.png" alt="" /></div>
                                    <div class="coffee"><img src="images/coffe.png" alt="" /></div>
                                    <div class="shur"><img src="images/shur.png" alt="" /></div>
                                    <img src="images/fire.png" alt="" class="img-responsive"/>
                                    <div class="tv-tuner">
                                        <img src="images/tv.png" class="img-responsive" alt="" />
                                    </div><!--tv-tuner-->
                                    <div class="tv-text">
                                        <div class="tv-title mb-30px">получи<br/>КИБЕРСКИДКИ</div>
                                        <a href="#popup" class="btn btn-default fancybox">Подписаться</a>
                                    </div><!--tv-text-->
                                </div><!--tv-->
                            </div><!--col-md-8-->
                        </div><!--row-->
                    </div><!--container-->
                </div><!--second-content-->
            </div>
        </div>
    </div>
    <div class="third-content" id="third">
        <div class="container">
            <div class="watch"><img src="images/watch.png" alt=""/></div>
            <div class="third-title mb-45px">
                <a name="anchor-cymo"></a>
                <h2>О киберпонедельнике</h2>
            </div>
            <div class="third-subtitle mb-45px">
                <div class="row">
                    <div class="col-md-offset-2 col-lg-offset-2 col-sm-offset-2 col-md-8 col-lg-8 col-sm-8">
                        Cyber Monday 2016 - это масштабная онлайн-распродажа, в которой принимают участие ведущие интернет-магазины России, Белоруссии и Казахстана, а также онлайн-сервисы. Скидки - до 90%! Торопитесь, у вас всего 24 часа на самый выгодный шопинг!
                    </div><!--col-md-8-->
                </div><!--row-->
            </div><!--third-subtitle-->
            <div class="third-blocks">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="tb-block text-center mb-30px">
                            <div class="tb-image text-center mb-30px">
                                <img src="images/t1.png" alt="" />
                            </div><!--tb-image-->
                            <div class="tb-title mb-20px">Более 300 магазинов-участников</div>
                            <p>Посетите все распродажи за один день, не выходя из дома!<br/>
                            Для вашего удобства мы собрали все акции от ведущих интернет-компаний на одном сайте.<br/>
                            Только 25 января 2016 г. вы сможете купить все что угодно - от пылесоса до массажа - со скидкой до 90%.<br/>
                            Проведите лучший понедельник года с пользой!</p>
                        </div><!--tb-block-->
                    </div><!--col-md-6-->
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="tb-block text-center mb-30px">
                            <div class="tb-image text-center mb-30px">
                                <img src="images/t2.png" alt="" />
                            </div><!--tb-image-->
                            <div class="tb-title mb-20px">Сделано в России!</div>
                            <p>Поддержите отечественного производителя:<br/>
                            только 25 января вы сможете купить товары,<br/>
                            произведенные в России, по самым выгодным ценам!<br/>
                            Ищите лучшие предложения в разделе “Товары российского производства”.</p>
                        </div><!--tb-block-->
                    </div><!--col-md-6-->
                </div><!--row-->
            </div><!--third-blocks-->
        </div><!--container-->
    </div><!--third-content-->

    <div class="new-59-partners">
        <div class="container">
            <div class="third-title mb-35px">
                <a name="anchor-partners"></a>
                <h2>Партнеры</h2>
            </div>
            <div class="bxslider-multi">
                <div class="new-59-partners__slide">
                    <img src="images/pa/yandexmoney.png" alt="">
                </div>
                <div class="new-59-partners__slide">
                    <img src="images/pa/upd.png" alt="">
                </div>
                <div class="new-59-partners__slide">
                    <img src="images/pa/inpost.png" alt="">
                </div>
                <div class="new-59-partners__slide">
                    <img src="images/pa/rp.png" alt="">
                </div>
                <div class="new-59-partners__slide">
                    <img src="images/pa/yandexmarket.png" alt="">
                </div>
                <div class="new-59-partners__slide">
                    <img src="images/pa/mastercity.png" alt="">
                </div>
                <div class="new-59-partners__slide">
                    <img src="images/pa/mnogoru.png" alt="">
                </div>
                <div class="new-59-partners__slide">
                    <img src="images/pa/flocktory.png" alt="">
                </div>
                <div class="new-59-partners__slide">
                    <img src="images/pa/maxipost.png" alt="">
                </div>
                <div class="new-59-partners__slide">
                    <img src="images/pa/cdek.png" alt="">
                </div>
                <div class="new-59-partners__slide">
                    <img src="images/pa/nr.png" alt="">
                </div>
                <div class="new-59-partners__slide">
                    <img src="images/pa/rnl.png" alt="">
                </div>
                <div class="new-59-partners__slide">
                    <img src="images/pa/businessfm.png" alt="">
                </div>
            </div>
        </div><!--container-->
    </div>

    <div class="fourth-content" id="fourth">
        <div class="container">
            <div class="third-title white mb-35px">
                <a name="anchor-party"></a>
                <h2>Магазины-Участники КиберПонедельника 2016</h2>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-md-10 col-lg-10 col-sm-10">

                    <div class="logos-container">
                        <div class="row">

                            {% for logo in logos %}
                            <div class="col-md-3 col-lg-3 col-sm-3">
                                <a class="logo-block" href="#" target="_blank" rel="noopener noreferrer">
                                    <img class="logo-block__logo" src="http://dummyimage.com/230x150/000/fff.png" alt=""/>
                                    <span class="logo-block__hover"></span>
                                </a><!--logo-block-->
                            </div><!--col-md-3-->
                            {% endfor %}

                        </div><!--row-->
                    </div><!--logos-container-->

                </div><!--col-md-10-->
            </div><!--row-->
        </div><!--container-->
    </div><!--fourth-content-->
    <div class="fifth-content" id="fifth">
        <div class="container">
            <div class="third-title mb-25px"><h2>Как узнать о лучших предложениях?</h2></div>
            <div class="fifth-subtitle">
                Подпишитесь на акции и получите приглашение на Киберпонедельник, заходите на сайт 25 января и покупайте со скидкой до 90%!</div>
            <div class="row">
                <div class="col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-md-10 col-lg-10 col-sm-10">
                    <div class="fifth-img">
                        <img src="images/mac.jpg" alt="" class="img-responsive" />
                    </div><!--fifth-img-->
                    <div class="fifth-form">
                        <div class="col-md-offset-6 col-lg-offset-6 col-sm-offset-6 col-md-6 col-lg-6 col-sm-6">
                            <div class="fifth-form-container">
                                <div class="form-title mb-5px" style="font-size:30px;">
                                    ОСТАВЬТЕ ВАШУ ПОЧТУ
                                </div>
                                <div class="form-subtitle mb-10px" style="font-size:18px;">
                                    чтобы принять участие в распродаже <span>Киберпонедельник</span>
                                </div>
                                <form action="/subscribe" method="POST" style="position:relative;">
                                    <div class="form-block mb-10px">
                                        <input type="text" class="form-control" name="name" placeholder="Ваше имя">
                                    </div>
                                    <div class="form-block mb-15px">
                                        <input type="text" class="form-control" name="email" placeholder="Ваш email">
                                    </div>
                                    <button class="btn-default btn" type="submit">подписаться</button>
                                </form>
                            </div><!--fifth-form-container-->
                        </div><!--col-md-5-->
                    </div><!--fifth-form-->
                </div><!--col-md-10-->
            </div><!--row-->
        </div><!--container-->
    </div><!--fifth-content-->
    <div class="six-content" id="six">
        <div class="container">
            <div class="six-title text-center mb-10px">
                <a name="anchor-buyer"></a>
                Как получить<br/><span>90% скидки</span>
            </div>
            <div class="six-subtitle mb-45px">на лучшие товары рунета?</div>
            <div class="row mb-40px">
                <div class="col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-md-3 col-lg-3 col-sm-3">
                    <div class="six-block">
                        <div class="six-img mb-25px">
                            <img src="images/s1.png" alt="" />
                        </div><!--six-img-->
                        <div class="six-text">Оставьте ваш e-mail</div>
                    </div><!--six-block-->
                </div><!--col-md-3-->
                <div class="col-md-4 col-lg-4 col-sm-4">
                    <div class="six-block text-center ss">
                        <div class="six-img mb-25px">
                            <img src="images/s2.png" alt="" />
                        </div><!--six-img-->
                        <div class="six-text">Получите приглашение на Киберпонедельник</div>
                    </div><!--six-block-->
                </div><!--col-md-3-->
                <div class="col-md-3 col-lg-3 col-sm-3">
                    <div class="six-block text-right ts">
                        <div class="six-img mb-25px">
                            <img src="images/s3.png" alt="" />
                        </div><!--six-img-->
                        <div class="six-text text-center ">Заходите на сайт 25 января 2016 г. и делайте выгодные покупки со скидкой до 90%!</div>
                    </div><!--six-block-->
                </div><!--col-md-3-->
            </div><!--row-->
            <div class="speed-sale-subtitle mb-20px">Крупнейшая распродажа года начнется<br/>25 января 2016 г. в 00:00</div>
            <div class="row">
                <div class="col-md-offset-4 col-lg-offset-4 col-sm-offset-4 col-md-4 col-lg-4 col-sm-4">
                    <a href="#popup" class="btn btn-default fancybox">получить скидку</a>
                </div><!--col-md-4-->
            </div><!--row-->
        </div><!--container-->
    </div><!--six-content-->
    <a class="new-59-4" href="http://www.mnogo.ru/new_anketa/name.html?range=1051"></a>
</section><!--content-->

<div class="popup" id="popup">
    <div class="fifth-form-container">
        <div class="form-title mb-5px" style="font-size:30px;">
            ОСТАВЬТЕ ВАШУ ПОЧТУ
        </div>
        <div class="form-subtitle mb-10px" style="font-size:18px;">
            чтобы принять участие в распродаже <span>Киберпонедельник</span>
        </div>
        <form action="/subscribe" method="POST" style="position:relative;">
            <div class="form-block mb-10px">
                <input type="text" class="form-control" name="name" placeholder="Ваше имя">
            </div>
            <div class="form-block mb-15px">
                <input type="text" class="form-control" name="email" placeholder="Ваш email">
            </div>
            <button class="btn-default btn" type="submit">подписаться</button>
        </form>
    </div><!--fifth-form-container-->
</div><!--popup-->

<div class="popup" id="popup-success">
    <div class="fifth-form-container">
        <div class="form-subtitle mb-10px js-text" style="font-size:18px;"></div>
    </div><!--fifth-form-container-->
</div><!--popup-success-->

<div class="mnogoru-gift">
    <img src="images/mnogoru-gift-toggler.png" alt="">
    <a href="http://www.mnogo.ru/new_anketa/name.html?range=1051" target="_blank" rel="noopener noreferrer"><img src="images/mnogoru-gift-bg.png" alt=""></a>
</div>










<div class="site-header-info">
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <span class="site-header-info__text">
                    Официальный сайт распродажи «Черная пятница» — Real Black Friday 2016 в России. Проект АКИТ. Для рекламодателей: +7 (800) 505-37-04
                </span>
            </div>

            <div class="col-sm-2">
                <span class="rpt">
                    <img class="rpt__icon" src="{% static 'images/landing/site-header__rpt.png' %}" alt="">
                    <span class="rpt__text">
                        При поддержке Роспотребнадзора
                    </span>
                </span>
            </div>
        </div>
    </div>
</div><!-- site-header-info -->


<div class="header-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="header-section__logo">
                    <img src="{% static 'images/landing/header-section__logo.png' %}" alt="">
                </div>

                <p class="header-section__slogan">
                    On-line распродажа года
                </p>
            </div>

            <div class="col-sm-6">
                <div class="header-section__title">
                    <strong>«Черная пятница»</strong>
                    24 и 25 ноября 2016
                </div>

                <p class="header-section__text">
                    <strong>Скидки до 90%</strong> на лучшие товары<br>
                    крупнейших магазинов
                </p>

                <a class="header-section__action" href="#">
                    <span>Список магазинов-участников</span> ↓
                </a>
            </div>
        </div>
    </div>
</div><!-- header-section -->


<div class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <img
                    class="about-section__copter"
                    src="{% static 'images/landing/action-section__copter.png' %}"
                    alt=""
                    />

                <div class="about-section__title">
                    Что это такое?
                </div>

                <div class="about-section__text">
                    Черная пятница — это масштабная<br>
                    онлайн-распродажа в ведущих<br>
                    интернет-магазинах и онлайн-сервисах<br>
                    России, Белоруссии и Казахстана.<br>
                    Мы собрали все предложения на одном<br>
                    сайте для вашего удобства. Покупайте<br>
                    со скидками не выходя из дома.
                </div>

                <div class="action-go-go">
                    <div class="action-go-go__title">
                        Торопитесь!
                    </div>

                    <div class="action-go-go__desc">
                        Акция идет всего
                    </div>

                    <div class="action-go-go__icon">
                        <div class="action-go-go__hours">
                            48
                        </div>

                        <div class="action-go-go__hours-label">
                            часов
                        </div>

                        <img
                             src="{% static 'images/landing/action-go-go__icon.png' %}"
                             alt=""
                             />
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-sm-offset-3">
                <div class="about-section__action">
                    <div class="about-section__action-title">
                        Получи<br>
                        скидки до 90%
                    </div>

                    <a class="about-section__action-link btn btn-primary btn-lg" href="#">
                        Подписаться
                    </a>

                    <img
                        src="{% static 'images/landing/action-section__img.jpg' %}"
                        alt=""
                        />
                </div>
            </div>
        </div>
    </div>
</div><!-- about-section -->


<div class="discount-section">
    <div class="container">
        <div class="discount-section__title">
            Как получить 90% скидки
            <small>на лучшие товары рунета?</small>
        </div>

        <ul class="discount-section__steps row">
            <li class="discount-section__step col-sm-4">
                <div class="discount-section__step-icon">
                    <img
                        src="{% static 'images/landing/discount-section__icon_subscribe.png' %}"
                        width="63"
                        height="63"
                        style="margin-top: -2px;"
                        alt=""
                        />
                </div>

                <div class="discount-section__step-text">
                    Оставьте ваш e-mail
                </div>
            </li>

            <li class="discount-section__step col-sm-4">
                <div class="discount-section__step-icon">
                    <img
                        src="{% static 'images/landing/discount-section__icon_message.png' %}"
                        width="63"
                        height="63"
                        style="margin-top: -12px;"
                        alt=""
                        />
                </div>

                <div class="discount-section__step-text">
                    Получите приглашение
                </div>
            </li>

            <li class="discount-section__step col-sm-4">
                <div class="discount-section__step-icon">
                    <img
                        src="{% static 'images/landing/discount-section__icon_buy.png' %}"
                        width="67"
                        height="75"
                        style="margin: -8px -12px 0 0;"
                        alt=""
                        />
                </div>

                <div class="discount-section__step-text">
                    Заходите на сайт 24 ноября<br>
                    2016 и делайте выгодные<br>
                    покупки со скидкой до 90%
                </div>
            </li>
        </ul>

        <div class="discount-section__action">
            <a class="btn btn-primary btn-lg" href="#">
                Получить скидку
            </a>
        </div>
    </div>
</div><!-- discount-section -->


<div class="subscribe-section">
    <div class="container">
        <div class="subscribe-section__title">
            Как узнать о лучших предложениях?
        </div>

        <p class="subscribe-section__text">
            Подпишитесь на акции и получите приглашение на Черную пятницу, заходите на сайт<br>
            24 ноября и покупайте со скидкой до 90%!
        </p>

        <div class="row">
            <div class="col-sm-5 col-sm-offset-7">
                <form class="subscribe-section__form" action="">
                    <p class="subscribe-section__form-text">
                        Оставьте вашу почту,<br>
                        чтобы принять участие<br>
                        в распродаже:
                    </p>

                    <div class="form-group subscribe-section__form-inputs">
                        <input class="form-control" placeholder="Ваше имя" type="text">
                        <input class="form-control" placeholder="E-mail" type="email">
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">
                            Подписаться
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- subscribe-section -->


<div class="party-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="party-section__title">
                    Представителям<br>
                    интернет-магазинов<br>
                    и онлайн-сервисов
                </div>

                <p class="party-section__text">
                    Если вы хотите стать партнером акции <br>
                    и предложить свои скидки в «Черной пятнице»,<br>
                    заполните заявку. Наши менеджеры свяжутся<br>
                    с вами в кратчайшее время.
                </p>
            </div>

            <div class="col-sm-7">
                <form class="party-section__form" action="">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <input class="form-control" placeholder="Ваше имя" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Название организации" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Контактный телефон" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="E-mail" type="email">
                            </div>
                        </div>

                        <div class="col-sm-7">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Комментарий о сотрудничестве" name=""></textarea>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-default btn-block" type="submit">
                                    Отправить
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- party-section -->


<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <ul class="simple-menu">
                    <li class="simple-menu__item">
                        <a class="simple-menu__link" href="#anchor-about" data-offset="60">
                            О «Черной пятнице»
                        </a>
                    </li>
                    <li class="simple-menu__item">
                        <a class="simple-menu__link" href="#anchor-buyer" data-offset="65">
                            Покупателям
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-4">
                <ul class="simple-menu">
                    <li class="simple-menu__item">
                        <a class="simple-menu__link" href="#anchor-party" data-offset="60">
                            Участники
                        </a>
                    </li>
                    <li class="simple-menu__item">
                        <a class="simple-menu__link" href="{% static 'docs/Политика конфиденциальности.pdf' %}">
                            Политика конфиденциальности
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-3">
                <div class="footer-social">
                    <span class="footer-social__title">
                        Мы в соц.сетях:
                    </span>
                    <ul class="footer-social__list">
                        <li class="footer-social__item">
                            <a class="footer-social__link" href="https://vk.com/cmondayru" target="_blank" rel="noopener noreferrer">
                                <img class="footer-social__icon" src="{% static 'images/landing/footer-social__icon_vk.png' %}" alt="vkontakte">
                            </a>
                        </li>
                        <li class="footer-social__item">
                            <a class="footer-social__link" href="https://www.facebook.com/cmondayru" target="_blank" rel="noopener noreferrer">
                                <img class="footer-social__icon" src="{% static 'images/landing/footer-social__icon_fb.png' %}" alt="facebook">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-3">
                <a class="akit-copy" href="http://www.akit.ru" target="_blank" rel="noopener noreferrer">
                    <img class="akit-copy__logo" src="{% static 'images/landing/akit-logo.png' %}" alt="retail hotline" title="" />2016 © Ассоциация компаний интернет-торговли
                </a>
            </div>
        </div>
    </div>
</footer><!-- site-footer -->

</body>
</html>
