{% load render_bundle from webpack_loader %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="imagetoolbar" content="no">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="google" value="notranslate">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'apple-touch-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'apple-touch-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon-180x180.png' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'favicon-194x194.png' %}" sizes="194x194">
    <link rel="icon" type="image/png" href="{% static 'favicon-96x96.png' %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static 'android-chrome-192x192.png' %}" sizes="192x192">
    <link rel="icon" type="image/png" href="{% static 'favicon-16x16.png' %}" sizes="16x16">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="{% static 'mstile-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <meta name="application-name" content="">
    <meta name="msapplication-tooltip" content="">

    <title>{% block title %}Настоящая Черная Пятница 2016 в России - официальный сайт Real Black Friday{% endblock %}</title>
    <meta name="description" content="{% block desctiption %}Настоящая Черная Пятница 24 и 25 ноября 2016 года: распродажи, акции и скидки от крупнейших интернет-магазинов{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">

    <meta name="referrer" content="origin-when-crossorigin">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{% block og_url %}http://www.realblackfriday.ru/{% endblock %}">
    <meta property="og:title" content="{% block og_title %}Настоящая Черная Пятница 2016 в России - официальный сайт Real Black Friday{% endblock %}">
    <meta property="og:description" content="{% block og_description %}Настоящая Черная Пятница 24 и 25 ноября 2016 года: распродажи, акции и скидки от крупнейших интернет-магазинов{% endblock %}">
    <meta property="og:image" content="www.realblackfriday.ru/static/images/logo-share.png">

    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic" rel="stylesheet">

    {% block css %}
        {% render_bundle 'app' 'css' %}
    {% endblock css %}

    <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.min.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <script src="{% static 'js/es5-shim.min.js' %}"></script>
    <script src="{% static 'js/es5-sham.min.js' %}"></script>
    <script src="{% static 'js/ie8.js' %}"></script>
    <![endif]-->
</head>
<body class="site">

<!-- begin site__content -->
<div class="site__content">
    <div id="wrotator" class="wrotator"></div>

    <nav class="navbar header-nav" id="header"></nav>
    <div class="header-nav__placeholder"></div>

    <div class="content-container container">
        {% block container %}
        block container
        {% endblock container %}
    </div>
</div>
<!-- end site__content -->

<!-- begin site__footer -->
<div class="site__footer">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer__social col-sm-4">
                    <div class="footer-social">
                        <div class="footer-social__title">
                            Официальные группы
                            <br>
                            в соц.сетях
                        </div>

                        <div class="footer-social__list">
                            <a href="https://vk.com/realblackfriday" target="_blank" rel="noopener noreferrer">
                                <img src="{% static 'icons/social-vk.png' %}" class="icon" alt="" />
                            </a>
                            <a href="https://www.facebook.com/Real-Black-Friday-1598467580447815/" target="_blank" rel="noopener noreferrer">
                                <img src="{% static 'icons/social-fb.png' %}" class="icon" alt="" />
                            </a>
                        </div>
                    </div>

                    <div class="footer-mnogo-left">
                        <a href="http://www.mnogo.ru/anketa.html?range=1062" target="_blank" rel="noopener noreferrer">
                            <img src="{% static 'images/footer-mnogo-1.png' %}" alt="">
                        </a>
                    </div>
                </div>

                <div class="footer__navigation col-sm-4">
                    <div id="footer-cats" class="footer-cats"></div>

                    <div class="footer-mnogo-center">
                        <a href="http://www.mnogo.ru/anketa.html?range=1062" target="_blank" rel="noopener noreferrer">
                            <img src="{% static 'images/footer-mnogo-2.png' %}" alt="">
                        </a>
                    </div>
                </div>

                <div class="footer__copyright col-sm-4 col-sm-offset-0">
                    <div class="footer-copy__placeholder">
                        <div class="footer-copy">
                            <a class="akit-copy" href="http://www.akit.ru" target="_blank" rel="noopener noreferrer">
                                <img src="{% static 'images/footer-copy.png' %}" alt="retail hotline" class="akit-copy__logo" title="" />© 2015 Ассоциация компаний интернет-торговли
                            </a>

                            <div class="footer-mnogo-right">
                                <span>При поддержке программы:</span>
                                <a href="http://www.mnogo.ru/business/" target="_blank" rel="noopener noreferrer"><img src="{% static 'images/footer-mnogo-3.png' %}" alt=""></a>
                                <img src="{% static 'images/footer-qiwi.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end site__footer -->

<div class="mnogoru-gift" id="mnogoru-gift">
    <img src="{% static 'images/mnogoru-gift-toggler.png' %}" alt="">
    <a href="http://www.mnogo.ru/anketa.html?range=1063" target="_blank" rel="noopener noreferrer"><img src="{% static 'images/mnogoru-gift-bg.png' %}" alt=""></a>
</div>


<script>
window.ENV = {
    imgBaseUrl: '/media/images/',
    redirectPrefix: '',
};

window.DATA = {
    superbanners: {
        perPage: 1,
        ajaxUrl: 'super_banners',
        ajaxUrlRoot: true,
        {% block superbanner %}
            pages: 0,
            isRandom: true,
            isControlsShown: true,
            isPagerShown: false,
            data: [],
        {% endblock %}
        speed: 3000
    },
    headerMenu: [
        {name: 'Российские товары', url: '/russian-goods'},
        {name: 'Все акции', url: '/actions'},
        {name: 'Партнеры', url: '/partners'}
    ],
    categories: [
        {id: 0, url: '/foo/', name: 'Foo'},
        {id: 1, url: '/bar/', name: 'Bar'}
    ],
    footerCats: [
        {name: 'Российские товары', url: '/russian-goods'},
        {name: 'Все акции', url: '/actions'},
        {name: 'Все участники', url: '/merchants'},
        {name: 'Партнеры', url: '/partners'}
    ]
};

{% block data %}{% endblock %}
</script>

{% block js %}{% endblock js %}

{% render_bundle 'app' 'js' %}

<script>
(function () {
    console.log('Let\'s target all external links to _blank!');

    var links = document.getElementsByTagName('a');

    for (var i = 0; i < links.length; i++) {
        var a = links[i],
            href = a.getAttribute('href'),
            target = a.target;

        if (/^https?:\/\/.*/.test(href) && (a.target !== '_blank')) {
            a.setAttribute('target', '_blank');
            console.log('Link to', href, 'has been targeted to _blank.');
        }
    }
})();
</script>

</body>
</html>
