{# Default page layout #}

{% extends "layouts/app-base-layout.html" %}

{% load static %}

{% block container %}
<div class="row row-main">
    <div class="col-md-3">
        <div class="left-sidebar">

            {% block sidebar %}
                <div id="categories-rus"></div>

                <div id="sidebar-hidden-block">
                    <div class="teasers">
                        {% block teasers__body %}
                            <div class="teasers__title">Лучшие предложения</div>
                            {% block category_retailrocket %}{% endblock %}
                            <div class="sidebar-teaser" id="sidebar-teasers" style="visibility: hidden;">
                                <!--# include virtual="/teasers/" -->
                                <!--# include virtual="/teasers/" -->
                                <!--# include virtual="/teasers/" -->
                            </div>
                        {% endblock teasers__body %}

                        <a class="teasers__all" href="/merchants">Все участники</a>
                        <a class="teasers__all" href="/actions#tab=2">Все товары</a>
                    </div>

                    <a class="left-sidebar__banner" href="/russian-goods/">
                        <img class="img-responsive" src="{% static 'images/left-sidebar__banner.jpg' %}" alt="">
                    </a>

                    <a class="left-sidebar__banner" href="/supernova/">
                        <img class="img-responsive" src="{% static 'images/left-sidebar__banner_supernova.jpg' %}" alt="">
                    </a>
                </div>
            {% endblock sidebar %}

            <div class="disclaimer">
                Акции предоставлены магазинами-участниками.
                <br>
                Фактическое наличие и цену товаров необходимо уточнять и требовать в магазине, разместившем предложение.
            </div>

        </div>
    </div>

    <div class="col-md-9">

        {% block content %}
        block content
        {% endblock %}

    </div>
</div>
{% endblock container %}
