{% load render_bundle from webpack_loader %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="imagetoolbar" content="no">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="google" value="notranslate">

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#000000">
    <meta name="theme-color" content="#000000">

    <title>{% block title %}Черная Пятница 2016 в России - официальный сайт Real Black Friday{% endblock %}</title>
    <meta name="description" content="{% block desctiption %}Настоящая Черная Пятница 24 и 25 ноября 2016 года: распродажи, акции и скидки от крупнейших интернет-магазинов{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">

    <meta name="referrer" content="origin-when-crossorigin">

    {% block meta %}{% endblock meta %}

    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{% block og_url %}{{ SITE_URL }}{% endblock %}">
    <meta property="og:title" content="{% block og_title %}Настоящая Черная Пятница 2016 - официальный сайт BLACK FRIDAY{% endblock %}">
    <meta property="og:description" content="{% block og_description %}Настоящая Черная Пятница 24 и 25 ноября 2016 года: распродажи, акции и скидки от крупнейших интернет-магазинов{% endblock %}">
    <meta property="og:image" content="{{ SITE_URL }}{% static 'images/logo-share.png' %}">

    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic" rel="stylesheet">

    {% block css %}
        {% render_bundle 'app' 'css' %}
    {% endblock css %}

    <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.min.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <script src="{% static 'js/es5-shim.min.js' %}"></script>
    <script src="{% static 'js/es5-sham.min.js' %}"></script>
    <script src="{% static 'js/ie8.js' %}"></script>
    <![endif]-->
</head>
<body class="site">

<!-- begin site__content -->
<div class="site__content">
    <div id="wrotator" class="wrotator"></div>

    <nav class="navbar header-nav" id="header"></nav>
    <div class="header-nav__placeholder"></div>

    <div class="super-header">
        <div class="container">
            <div class="row row-main">
                <div class="col-md-3">

                    <a href="/" class="logo">
                        <img src="{% static 'images/logo.png' %}" alt="">
                    </a>

                    <div class="super-header__share share">
                        <div class="share__content">
                            <script src="//yastatic.net/share2/share.js"></script>
                            <div class="ya-share2" data-services="vkontakte,twitter,facebook,odnoklassniki,gplus" data-size="s"></div>
                        </div>
                    </div>

                    <div class="sidebar-cats super-header__sidebar-cats"></div>

                </div>
                <div class="col-md-9">

                    <div id="superbanner"></div>

                </div>
            </div>
        </div>
    </div>

    <div class="content-container container">
        {% block container %}
        block container
        {% endblock container %}
    </div>
</div>
<!-- end site__content -->

<!-- begin site__footer -->
<div class="site__footer">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer__social col-sm-4">
                    <div class="footer-social">
                        <div class="footer-social__title">
                            Официальные группы
                            <br>
                            в соц.сетях
                        </div>

                        <div class="footer-social__list">
                            <a href="https://www.facebook.com/Real-Black-Friday-1598467580447815/" target="_blank" rel="noopener noreferrer">
                                <img src="{% static 'icons/social-fb.png' %}" class="icon" alt="" />
                            </a>
                            <a href="https://vk.com/realbf" target="_blank" rel="noopener noreferrer">
                                <img src="{% static 'icons/social-vk.png' %}" class="icon" alt="" />
                            </a>
                        </div>
                    </div>

                    {% comment %}
                    <div class="footer-mnogo-left">
                        <a href="http://www.mnogo.ru/anketa.html?range=1062" target="_blank" rel="noopener noreferrer">
                            <img src="{% static 'images/footer-mnogo-1.png' %}" alt="">
                        </a>
                    </div>
                    {% endcomment %}
                </div>

                <div class="footer__navigation col-sm-4">
                    <div id="footer-cats" class="footer-cats"></div>

                    {% comment %}
                    <div class="footer-mnogo-center">
                        <a href="http://www.mnogo.ru/anketa.html?range=1062" target="_blank" rel="noopener noreferrer">
                            <img src="{% static 'images/footer-mnogo-2.png' %}" alt="">
                        </a>
                    </div>
                    {% endcomment %}
                </div>

                <div class="footer__copyright col-sm-4 col-sm-offset-0">
                    <div class="footer-copy__placeholder">
                        <div class="footer-copy">
                            <a class="akit-copy" href="http://www.akit.ru" target="_blank" rel="noopener noreferrer">
                                <img src="{% static 'images/footer-copy.png' %}" alt="retail hotline" class="akit-copy__logo" title="" />© 2015 Ассоциация компаний интернет-торговли
                            </a>

                            {% comment %}
                            <div class="footer-mnogo-right">
                                <span>При поддержке программы:</span>
                                <a href="http://www.mnogo.ru/business/" target="_blank" rel="noopener noreferrer"><img src="{% static 'images/footer-mnogo-3.png' %}" alt=""></a>
                                <img src="{% static 'images/footer-qiwi.png' %}" alt="">
                            </div>
                            {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end site__footer -->

{% comment %}
<div class="mnogoru-gift" id="mnogoru-gift">
    <img src="{% static 'images/mnogoru-gift-toggler.png' %}" alt="">
    <a href="http://www.mnogo.ru/anketa.html?range=1063" target="_blank" rel="noopener noreferrer"><img src="{% static 'images/mnogoru-gift-bg.png' %}" alt=""></a>
</div>
{% endcomment %}


<script>
window.ENV = {
    imgBaseUrl: '',
    redirectPrefix: '',
};

window.DATA = {
    superbanners: {
        perPage: 1,
        ajaxUrl: 'super_banners',
        ajaxUrlRoot: true,
        {% block superbanner %}
            pages: 0,
            isRandom: true,
            isControlsShown: true,
            isPagerShown: false,
            data: [],
        {% endblock %}
        speed: 3000
    },
    headerMenu: [
        {name: 'Российские товары', url: '/russian-goods'},
        {name: 'Все акции', url: '/actions'},
        {name: 'Партнеры', url: '/partners'}
    ],
    categories: [
        {% for item in categories %}
        {id: {{ item.id }}, url: '/categories/{{ item.slug }}', name: '{{ item.name }}'},
        {% endfor %}
    ],
    footerCats: [
        {name: 'Российские товары', url: '/russian-goods'},
        {name: 'Все акции', url: '/actions'},
        {name: 'Все участники', url: '/merchants'},
        {name: 'Партнеры', url: '/partners'}
    ]
};

{% block data %}{% endblock %}
</script>

{% block js %}{% endblock js %}

{% render_bundle 'app' 'js' %}

<script>
(function () {
    console.log('Let\'s target all external links to _blank!');

    var links = document.getElementsByTagName('a');

    for (var i = 0; i < links.length; i++) {
        var a = links[i],
            href = a.getAttribute('href'),
            target = a.target;

        if (/^https?:\/\/.*/.test(href) && (a.target !== '_blank')) {
            a.setAttribute('target', '_blank');
            console.log('Link to', href, 'has been targeted to _blank.');
        }
    }
})();
</script>

</body>
</html>
