{% load render_bundle from webpack_loader %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="imagetoolbar" content="no">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="google" value="notranslate">

    <title>{% block title %}Киберпонедельник{% endblock title %}</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.11.1/lodash.min.js"></script>

    {# CSS #}
    {% render_bundle 'auth' 'css' %}
    {% block css %}{% endblock css %}

    <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.min.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <script src="{% static 'js/es5-shim.min.js' %}"></script>
    <script src="{% static 'js/es5-sham.min.js' %}"></script>
    <script src="{% static 'js/ie8.js' %}"></script>
    <![endif]-->
</head>
<body class="site">

<header class="site-header">
    <a href="/" class="logo">
        <img src="{% static 'images/auth/logo.png' %}" alt="Киберпонедельник">
    </a>
</header>

<main class="site-content">
    <div class="site-content__border">
        <div class="site-content__container">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</main>

<footer class="site-footer">
    <div class="site-footer__container">
        <div class="copyrights">
            Проект АКИТ. Для рекламодателей: <a href="tel:88005053704" title="Бесплатный номер">+7 (800) 505-37-04</a>
        </div><!--

        --><a class="akit-copy" href="http://www.akit.ru" target="_blank" rel="noopener noreferrer">
            <img class="akit-copy__logo" src="{% static 'images/auth/akit-logo.png' %}" alt="retail hotline" title="" />2016 © Ассоциация компаний интернет-торговли
        </a>
    </div>
</footer>

{# JS #}
{% render_bundle 'auth' 'js' %}
{% block js %}{% endblock js %}

</body>
</html>
