<div
    class="modal fade"
    id="edit-special-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="edit-special-modal-label"
    >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="edit-special-modal-label">
                    Отредактировать предложение партнёра
                </h4>
            </div>

            <div id="edit-special-form"></div>
        </div>
    </div>
</div>
