.aa-section
	background: url(/static/images/landing/aa-section__bg.png) 50% 0 no-repeat
	height: 323px

	&__body
		padding-top: 95px
		height: 240px

	&__msg
		text-align: center
		margin-top: 20px
		font-size: 25px

	&__footer
		margin-top: 20px

	&__subscribe
		padding-right: 65px
		padding-left: 45px

	&__subscribe-title
		font-size: 22px
		color: #f6f6f6
		margin-bottom: 15px
		line-height: 1.1

	&__form
		position: relative

		.form-control
			border-radius: 20px
			font-size: 16px
			border: 2px solid #55009d
			height: 42px
			padding-right: 60px
			padding-left: 16px
			margin-left: -5px

		.btn
			position: absolute
			top: -9px
			right: 0
			padding: 16px 15px
			box-shadow: 0 13px 18px rgba(0,	0, 0, 0.6)

	:lang(zh-CN) &
		&__subscribe-title
			margin-bottom: 25px
