.akit-copy
	pt = 6px
	pl = 48px
	font-size: 13px
	line-height: 1.3
	text-align: left
	padding-top: pt
	padding-left: pl
	overflow: hidden
	display: inline-block
	vertical-align: middle

	&
	&:focus
	&:hover
		text-decoration: none

	&__logo
		float: left
		margin-top: -(pt)
		margin-left: -(pl)


.form-control
	box-shadow: none

	&:focus
		box-shadow: none
