body
	background-image: url(/static/images/landing/site-header__bg.png)
	background-repeat: no-repeat
	background-position: 50% 0

.container
	width: 984px !important

.btn
	text-transform: uppercase
	font-weight: bold

h1
h2
h3
h4
h5
h6
	margin-top: 0

:lang(zh-CN)
	.btn
		font-weight: normal
		font-size: 20px
		padding-top: 4px
		padding-bottom: 4px

		img
			vertical-align: baseline

	.btn-lg
		padding-top: 14px
		padding-bottom: 14px
