body
	background-image: url(/static/images/landing/site-header__bg.png)
	background-repeat: no-repeat
	background-position: 50% 0

.container
	width: 984px !important

.btn
	text-transform: uppercase
	font-weight: bold
