.contacts-section
	margin-bottom: 35px

	&__title
		font-weight: bold
		font-size: 31px
		margin-bottom: 38px

	&__item
		margin-bottom: 35px

	&__subtitle
		font-weight: bold
		font-size: 20px
		margin-bottom: 14px

	&__text
		color: #ccc

	&__logo-list
		margin-left: -25px

		img
			margin-left: 25px

	&__map
		{}
