.footer-social
	ml = 10px

	&__title
		display: block
		margin-bottom: 5px

	&__list
		clearfix()
		margin: 0 0 0 -5px
		padding: 0

	&__item
		float: left
		list-style-type: none
		vertical-align: middle

	&__link
		padding: 5px
		display: block

	&__icon
		{}
