.header-section
	padding: 50px 0 12px
	margin-bottom: -34px

	&__logo
		margin: -97px 0 -117px -134px

	&__slogan
		font-size: 24px
		color: #dcdcdc
		padding-left: 8px

	&__title
		font-size: 50px
		font-weight: bold
		color: #f4f4f4
		line-height: 1.2
		margin-bottom: 16px
		white-space: nowrap

		strong
			display: block
			margin-left: -0.55em

	&__text
		font-size: 22px
		color: #eeeeee
		line-height: 1.5
		margin-bottom: 30px

		strong
			font-weight: normal
			color: #000
			background-color: #a9e100
			border-radius: 20px
			padding: 3px 10px
			margin-left: -0.5em

	&__action
		display: inline-block
		font-size: 22px

		span
			display: inline-block
			border-bottom: 1px dotted
