.partners-section
	padding: 20px 0 30px

	&__title
		font-size: 31px
		line-height: 1.2
		color: #f4f4f4
		font-weight: bold
		text-align: center
		margin-bottom: 30px

	&__carousel
		background-color: #fff
		border-radius: 10px
		box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8),
					0 7px 0 #fff
		padding: 47px 55px
		position: relative

		.bx-wrapper
			.bx-controls-direction
				a
					margin-top: 0
					width: 55px

		.bx-prev:after
		.bx-next:after
			display: none

		.bx-prev
			background: url(/static/images/landing/partners-carousel__prev.png) 50% 50% no-repeat
			left: auto
			right: 100%

		.bx-next
			background: url(/static/images/landing/partners-carousel__next.png) 50% 50% no-repeat
			right: auto
			left: 100%
