.share-block
	text-align: center

	&__label
		display: inline-block
		vertical-align: middle
		margin-right: 15px
		font-size: 14px
		color: #f4f4f4

	&__buttons
		display: inline-block
		vertical-align: middle
