.site-footer
	font-size: 13px
	line-height: 1.2
	padding: 35px 0 20px
	background: #1a1a1a
	background: linear-gradient(to bottom, #1a1a1a, #282828)
	filter: unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a1a1a', endColorstr='#282828', GradientType=0)")

	&
	a
		color: #f4f4f4

	&__container
		clearfix()
		width: siteWidth
		margin: 0 auto

	.simple-menu
		&__item
			margin-bottom: 15px

	&__project-by
		margin-top: 12px

		&
		a
			color: #838383

	&__b2b
		margin-top: 12px

		a
			color: #acdd07

	&__offer-text
		margin-top: 12px
		color: #838383
