{% extends "layouts/admin-base-layout.html" %}

{% load render_bundle from webpack_loader %}

{% block content %}
<div class="page-header">
    <h1>
        {{ merchant.name }}

        <small>
            <a href="{{ merchant.url }}" target="_blank">
                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                URL
            </a>
        </small>
    </h1>
</div>

<div id="admin-merchant"></div>

{% include "includes/images-upload-modal.html" %}
{% include "advertisers/includes/custom-promo-request-modal.html" %}
{% endblock content %}

{% block js %}
    <script>
    window.ENV.merchantId = {{ merchant.id }};
    window.ENV.urls = {
        merchants: '/merchants/'
    };
    </script>

    {% render_bundle 'admin-merchant' 'js' %}
{% endblock js %}
