.download-file
	text-decoration: none
	font-size: 14px

	.icon
		margin-top: -3px
		margin-right: 3px

	&__name
		display: inline-block
		border-bottom: 1px dotted

	&__size
		color: #9b9b9b
		margin-left: 0.25em
