.merchant-shop-card-list
	clearfix()
	margin-left: -20px

	&__item
		float: left
		width: 400px
		height: 223px
		margin-bottom: 20px
		margin-left: 20px

	.simple-shop-card
		height: 100%

	.merchant-add-shop
		height: 100%
