.products-table
	&__table
		width: 100%

	&__table-th
		^[0]__table &
			line-height: 1.1

		&_name_select
			{}

		&_name_name
			{}

		&_name_startprice
			{}

		&_name_oldprice
			{}

		&_name_price
			{}

		&_name_discount
			{}

		&_name_country
			{}

		&_name_teaser
			text-align: center

		&_name_teaser-on-main
			text-align: center

		&_name_category
			{}

		&_name_image
			{}

	&__table-td
		vertical-align: middle !important

		&_name_select
			{}

		&_name_name
			{}

		&_name_startprice
			{}

		&_name_oldprice
			{}

		&_name_price
			{}

		&_name_discount
			{}

		&_name_country
			{}

		&_name_teaser
			text-align: center

		&_name_teaser-on-main
			text-align: center

		&_name_category
			{}

		&_name_image
			text-align: center

			img
				width: 50px
				height: auto
				max-height: 50px
