.simple-shop-card
	pad = 12px
	logoWidth = 146px
	logoMarginRight = 20px
	border: 1px solid #eaecee
	padding: pad 10px pad (pad + logoWidth + logoMarginRight)

	&__logo-placeholder
		display: inline-block
		width: logoWidth
		min-height: 90px
		float: left
		margin-left: -(logoWidth + logoMarginRight)
		background-color: #eaecee

	&__logo
		width: 100%
		height: auto

	&__name
		font-size: 25px
		color: #222121
		margin-bottom: 6px
		text-overflow: ellipsis
		white-space: nowrap
		overflow: hidden
		width: 100%

	&__action-list
		margin-top: 12px

		.action-list__item
			display: inline-block
			vertical-align: middle
			padding: 5px
			border: 1px solid #dadde1
			border-radius: 50%
			line-height: 1
			cursor: pointer

			+ .action-list__item
				margin-left: 5px
